html, body {
    background-color: #f6f9f1;
    width: 100%;
    height: 100%;
    text-align: center;
}

ul {
    width: 90%;
    columns: 2;
    margin: 0 auto;
}

li {
    list-style: none;
}

li > button {
    width: 80%;
    height: 80px;
}

.list-room {
    padding-top: 80px;
    align-content: center;
}

.nav-btn {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: 20px;
    transform: translate(-50%, 0%);
}

.nav-btn > button {
    height: 40px;
    margin: 10px;
}