@import "reset.css";

body {
    background-color: #f6f9f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

h2, h4 {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.wrapper {
    height: 100%;
    width: 80%;
    padding: 20px;
}

.title-div {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    flex-direction: row;
    width: 100%;
    height: 20%;
    background-color: bisque;
    border-radius: .5rem;
    box-shadow: 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.canvas-div {
    display: flex;
    float: left;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 80%;
    height: 80vh;
}

.chat-room-div {
    height: 80vh;
    width: 20%;
    display: flex;
}

.words {
    text-align: center;
    margin-bottom: 10px;
    height: 30%;
    display: inline-block;
}

.words .word {
    float: left;
    width: 80px;
    height: 80px;
    font-size: 60px;
    font-weight: 600;
    border: 10px solid;
    margin: 20px;
    border-radius: 5rem;
}

.jsCanvas {
    width: 60%;
    height: 65%;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.ans-div {
    margin-bottom: 20px;
    text-align: center;
    height: 5%;
}

.ans-input {
    text-align: center;
}

.ans-title, .ans-input {
    padding: 10px;
}

.controls-div {
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls-colors .controls-color {
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    float: left;
    box-shadow: 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.controls-div .controls-btns {
    margin-bottom: 20px;
}

.controls-btns button {
    all: unset;
    cursor: pointer;
    background-color: white;
    padding: 5px 10px;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border: 2px solid rgb(0, 0, 0, 0.2);
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
}

.controls-range {
    margin-bottom: 10px;
}

.controls-btns {
    margin-bottom: 20px;
}

.hide {
    display: none;
}

.chat-div, .canvas-div, .words {
    text-align: center;
}

#title {
    text-align: left;
    width: 40vw;
}

#userNumber {
    text-align: left;
    width: 15vw;
}

#leave_room {
    margin-bottom: 30px;
}

.chat-div {
    width: 100%;
}

.users-ul {
    height: 15%;
    margin-bottom: 10px;
}

.messages {
    height: 55vh;
}

.users-ul, .bottom-section {
    text-align: center;
    padding-top: 10px;
    background-color: bisque;
    overflow: auto;
    border-radius: .5rem;
    box-shadow: 0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.msg-li {
    text-align: left;
    margin-left: 20px;
}

.first-line {
    width: 90%;
    display: inline-block;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.msg_input {
    width: 85%;
    height: 20px;
    margin-bottom: 10px;
}

.current-drawer {
    margin-top: 10px;
}