body {
    background-color: #f6f9f1;
}

.idCheck-img {
    width: 20px;
    visibility: hidden;
}

.idEdit-btn {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.hide {
    display: none;
}